.header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: rgba(93, 69, 123, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);

    .headerWrapper {
        max-width: 1200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headerLogo {
            cursor: pointer;
        }

        .headerList {
            color: rgb(220, 220, 220);
            display: flex;


            .headerLevelOne {
                position: relative;

                .headerOptionOne {
                    display: flex;
                    align-items: center;
                    font-size: 1.2rem;
                    cursor: pointer;

                    span {
                        line-height: 80px;
                    }

                    .headerIcon {
                        padding-top: 10px;
                        padding-left: 20px;
                    }

                    &:hover {
                        color: white;
                    }
                }

                &:hover .headerLevelTwo {
                    display: flex;
                }

                &:hover {
                    color: white;
                }

                .headerLevelTwo {
                    display: none;
                    flex-direction: column;
                    background-color: white;
                    color: black;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    border-radius: .2rem;
                    backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.4);

                    .headerOptionTwo {
                        cursor: pointer;
                        white-space: nowrap;
                        padding: 10px;
                        border-radius: .2rem;

                        &:hover {
                            background: rgb(232, 232, 232);
                        }
                    }

                }
            }

            // 
        }
    }
}