.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: rgba(93, 69, 123, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);

    .headerLogo {
        cursor: pointer;
    }

    .headerList {
        color: rgb(183, 183, 183);
        position: absolute;
        top: 0;
        left: 0;


        ul {
            list-style: none;
            margin: 0;


            .nav-option {
                display: flex;
                align-items: center;
                width: 140px;
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                cursor: pointer;
                margin: 0 10px 20px 100px;

                &:hover {
                    color: white;
                }

                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }
}

.hidden {
    display: none;
}